<%- include("partials/header") %>

<h1>Quote Finder</h1>

<form action="/searchByKeyword">
  Keyword:
  <input type="text" name="keyword">
  <button>Search by Keyword</button>
</form>

<form action="/searchByAuthor">
  <select name="authorId">
    <% for(let author of authors) { %>
      <option value="<%= author.authorId %>"><%= author.firstName %> <%= author.lastName %></option>
    <% } %>
  </select>
  <button>Search by Author</button>
</form>

<%- include("partials/footer") %>